<!DOCTYPE html>
<html>
    <head>
        <title>Shutterstock Lighthouse</title>
        <link rel="stylesheet" type="text/css" href="/assets/styles/main.css"></link>
    </head>
<body>
 
    {{{body}}}
     <script src="/assets/scripts/main.js"></script>
</body>
</html>